body {
  margin: 0;
  padding: 5px;
  background-color: #000000;
  color: #ffffff;
}
iframe {
  border: none;
}

.button {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  padding: 3px;
  box-shadow: 0 0 2px 0px inset;
}
.button:active {
  background: coral;
}
.button.active {
  background: coral;
}
.button-group>.button:not(:first-child){
  margin-left: 3px;
}
/* player */
.player-wrap {
  width: 350px;
  position: relative;
}
.control-group {
  position: fixed;
  width: 100px;
  height: auto;
  right: 15px;
  top: 15px;
}
.control-group .button-group{
  position: absolute;
  display: inline-block;
  right: 0;
}
.sounds-list-wrap {
  width: 248px;
}
.sound-list {
  list-style: none;
  padding-left: 0;
}
.sound-item {
  margin-bottom: 5px;
}
.sound-item.active {
  background-color: blue;
}
.preview-img,
.sound-title {
  vertical-align: middle;
  display: inline-block;
}
.preview-img {
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
}
.sound-title {
  padding-left: 15px;
  width: 184px;
  box-sizing: border-box;
}
